<div class="container">
    <svg
       xmlns:dc="http://purl.org/dc/elements/1.1/"
       xmlns:cc="http://creativecommons.org/ns#"
       xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
       xmlns:svg="http://www.w3.org/2000/svg"
       xmlns="http://www.w3.org/2000/svg"
       xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
       xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
       viewBox="0 0 850 414"
       version="1.1"
       id="svg8"
       inkscape:version="0.92.4 (5da689c313, 2019-01-14)"
       sodipodi:docname="menu.svg">
    <g
       inkscape:label="Layer 1"
       inkscape:groupmode="layer"
       id="layer1"
       transform="translate(0,117)">
       <g
          sodipodi:type="inkscape:box3d"
          id="g11"
          style="fill:#280b0b;stroke:#ffaaaa"
          inkscape:perspectiveID="#perspective9"
          inkscape:corner0="-2.4876908 : 0.15438029 : 0 : 1"
          inkscape:corner7="-0.40642034 : -0.016879087 : 0.42967119 : 1">
          <path
             sodipodi:type="inkscape:box3dside"
             id="path13"
             style="fill:#353564;fill-rule:evenodd;stroke:none;stroke-width:3.02967191;stroke-linejoin:round"
             inkscape:box3dsidetype="6"
             d="M 583.46608,217.84674 V -63.40945 l -428.08269,-44.27121 v 395.47684 z"
             points="583.46608,-63.40945 155.38339,-107.68066 155.38339,287.79618 583.46608,217.84674 " />
          <path
             sodipodi:type="inkscape:box3dside"
             id="path21"
             style="fill:#afafde;fill-rule:evenodd;stroke:none;stroke-width:3.02967191;stroke-linejoin:round"
             inkscape:box3dsidetype="13"
             d="M 583.46608,-63.40945 1513.1932,318.82373 1565.4218,204.09646 155.38339,-107.68066 Z"
             points="1513.1932,318.82373 1565.4218,204.09646 155.38339,-107.68066 583.46608,-63.40945 " />
          <path
             sodipodi:type="inkscape:box3dside"
             id="path19"
             style="fill:#d7d7ff;fill-rule:evenodd;stroke:none;stroke-width:3.02967191;stroke-linejoin:round"
             inkscape:box3dsidetype="14"
             d="m 1513.1932,-386.08966 v 704.91339 l 52.2286,-114.72727 v -408.91464 z"
             points="1513.1932,318.82373 1565.4218,204.09646 1565.4218,-204.81818 1513.1932,-386.08966 " />
          <path
             sodipodi:type="inkscape:box3dside"
             id="path23"
             style="fill:#e9e9ff;fill-rule:evenodd;stroke:none;stroke-width:3.02967191;stroke-linejoin:round"
             inkscape:box3dsidetype="11"
             d="M 155.38339,287.79618 1565.4218,-204.81818 V 204.09646 L 155.38339,-107.68066 Z"
             points="1565.4218,-204.81818 1565.4218,204.09646 155.38339,-107.68066 155.38339,287.79618 " />
          <path
             sodipodi:type="inkscape:box3dside"
             id="path15"
             style="fill:#4d4d9f;fill-rule:evenodd;stroke:none;stroke-width:3.02967191;stroke-linejoin:round"
             inkscape:box3dsidetype="5"
             d="m 583.46608,217.84674 929.72712,-603.9364 52.2286,181.27148 -1410.03841,492.61436 z"
             points="1513.1932,-386.08966 1565.4218,-204.81818 155.38339,287.79618 583.46608,217.84674 " />
          <path
             sodipodi:type="inkscape:box3dside"
             id="path17"
             style="fill:#8686bf;fill-rule:evenodd;stroke:none;stroke-width:3.02967191;stroke-linejoin:round"
             inkscape:box3dsidetype="3"
             d="m 583.46608,217.84674 929.72712,-603.9364 V 318.82373 L 583.46608,-63.40945 Z"
             points="1513.1932,-386.08966 1513.1932,318.82373 583.46608,-63.40945 583.46608,217.84674 " />
       </g>
    </g>
    </svg>
    <div class="menu">
       <button routerLink="/game">Start</button>
       <button (click)="options()">Options</button>
       <button (click)="help()">Help</button>
    </div>
    <div>
       <ul class="asteroid-area">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
       </ul>
 
       <ul class="box-area">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
       </ul>
    </div>
 </div>